<!--DOCTYPE html>
<html>
<head>
    <title>Post a blog</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <textarea name="content" placeholder="Write your note here..."></textarea>
        <button type="submit">Post Note</button>
    </form>
    <a href="blog_get">View Notes</a>
</body>
</html-->


<!-- post.html -->
<form method="POST">
    {% csrf_token %}
    <textarea name="post" placeholder="Write your comment here..."></textarea>
    <button type="submit">Post blog</button>
</form>

<ul>
    {% for post in post %}
        <li>{{ post.content }} </li>
    {% endfor %}
</ul>
